@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.article-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @include mq() {
    grid-template-columns: 1fr;
  }
  &__item {
  }
  &__img {
    @include mqup() {
      max-width: 380px;
    }
    img {
      aspect-ratio: 380 / 250;
      object-fit: cover;
    }
  }
  &__contents {
  }
  &__heading {
    margin: 16px 0;
    font-size: fz(28);
    color: $main-color-01;
    line-height: 1.2;
    @include mq() {
      font-size: fz(20);
    }
  }
  &__text {
  }
  &__button-wrapper {
  }
  &__button {
    width: 180px;
    margin: 22px auto 0;
    padding: 14px;
    display: block;
    text-align: center;
    border: 2px solid $accent-color;
    background-color: $accent-color;
    color: $text-color-white;
    text-decoration: none;
    font-weight: bold;
    transition:
      background-color 0.3s,
      color 0.3s;
    &:hover {
      background-color: $text-color-white;
      color: $accent-color;
    }
  }
}
.map-box {
  > iframe {
    width: 100%;
    min-height: 400px;
  }
}
