@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.img-box {
  text-align: center;
}
.article-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @include mq() {
    grid-template-columns: 1fr;
  }
  &__item {
  }
  &__img {
    @include mqup() {
      max-width: 380px;
    }
    img {
      aspect-ratio: 380 / 250;
      object-fit: cover;
    }
  }
  &__contents {
  }
  &__heading {
    margin: 16px 0;
    font-size: fz(28);
    color: $main-color-01;
    line-height: 1.2;
    @include mq() {
      font-size: fz(20);
    }
  }
  &__text {
  }
  &__button-wrapper {
  }
  &__button {
    width: 180px;
    margin: 22px auto 0;
    padding: 14px;
    display: block;
    text-align: center;
    border: 2px solid $accent-color;
    background-color: $accent-color;
    color: $text-color-white;
    text-decoration: none;
    font-weight: bold;
    transition:
      background-color 0.3s,
      color 0.3s;
    outline-offset: 4px;
    &:hover {
      background-color: $text-color-white;
      color: $accent-color;
    }
  }
}
.map-box {
  > iframe {
    width: 100%;
    min-height: 400px;
  }
}
.break-box {
  position: relative;
  & + & {
    margin-top: 60px;
  }
  &__inner {
    display: flex;
    @include mq() {
      flex-direction: column;
    }
    .break-box--reverse & {
      flex-direction: row-reverse;
      @include mq() {
        flex-direction: column;
      }
    }
  }
  &__contents {
    background-color: #fff;
    width: 65%;
    margin-top: 110px;
    min-height: 350px;
    border: 1px solid $main-color-01;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq() {
      margin-top: -32px;
      width: 90%;
      order: 2;
      padding: 24px;
      align-self: flex-start;
    }
    .break-box--reverse & {
      align-items: flex-end;
      @include mq() {
        align-self: flex-end;
      }
    }
  }
  &__contents-item {
    max-width: 75%;
    @include mq() {
      max-width: 100%;
    }
    .break-box--reverse & {
      @include mqup() {
        padding-left: 40px;
      }
    }
  }
  &__heading {
    font-size: fz(24);
    margin-bottom: 24px;
  }
  &__text {
    margin-bottom: 50px;
  }
  &__link-wrap {
  }
  &__link {
    width: 180px;
    margin: 22px auto 0;
    padding: 14px;
    display: block;
    text-align: center;
    border: 2px solid $accent-color;
    background-color: $accent-color;
    color: $text-color-white;
    text-decoration: none;
    font-weight: bold;
    transition:
      background-color 0.3s,
      color 0.3s;
    outline-offset: 4px;
    &:hover {
      background-color: $text-color-white;
      color: $accent-color;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    width: 52%;
    @include mq() {
      width: 90%;
      position: static;
      order: 1;
      align-self: flex-end;
      z-index: 2;
    }
    .break-box--reverse & {
      right: auto;
      left: 0;
      @include mq() {
        align-self: flex-start;
      }
    }
  }
}
.article-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  @include mq() {
    flex-direction: column;
  }
  &--reverse {
    flex-direction: row-reverse;
    @include mq() {
      flex-direction: column;
    }
  }
  &__content {
    padding-right: 24px;
    .article-box--reverse & {
      padding-right: 0;
      padding-left: 24px;
    }
  }
  &__heading {
    text-align: center;
    font-size: fz(24);
    margin-bottom: 40px;
    @include mq() {
      font-size: fz(18);
      margin-bottom: 16px;
    }
  }
  &__text {
    @include mq() {
      margin-bottom: 24px;
    }
  }
  &__img {
    flex: 0 0 auto;
  }
  & + & {
    border-top: 2px solid rgba($color: $main-color-02, $alpha: 0.5);
  }
  &:first-of-type {
    border-top: 2px solid rgba($color: $main-color-02, $alpha: 0.5);
  }
  &:last-of-type {
    border-bottom: 2px solid rgba($color: $main-color-02, $alpha: 0.5);
  }
}
.cta-box {
  background-color: $base-color-02;
  padding: 40px;
  &__text {
    text-align: center;
  }
  &__button-wrap {
    display: flex;
    justify-content: center;
  }
  &__button {
    width: 474px;
    margin: 22px auto 0;
    padding: 14px;
    display: block;
    text-align: center;
    border: 2px solid $main-color-02;
    background-color: $main-color-02;
    color: $text-color-white;
    text-decoration: none;
    font-weight: bold;
    transition:
      background-color 0.3s,
      color 0.3s;
    outline-offset: 4px;
    &:hover {
      background-color: $text-color-white;
      color: $main-color-02;
    }
  }
}
.caution-box {
  border: 2px solid $caution-color;
  padding: 32px;
  font-size: fz(18);
  font-weight: bold;
  &__text {
    text-align: center;
    color: $caution-color;
  }
}
