@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.5s;
  &.is-show {
    opacity: 1;
  }
  &.is-fixed {
    position: absolute;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
    width: 100px;
    height: 100px;
    text-decoration: none;
    border-radius: 50%;
    @include mq() {
      width: 60px;
      height: 60px;
    }
  }
  &__text {
    padding-top: 20px;
    position: relative;
    font-size: fz(24);
    color: #000;
    @include mq() {
      padding-top: 8px;
      font-size: fz(16);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 12px;
      height: 12px;
      border: 2px solid;
      border-color: #565656 #565656 transparent transparent;
      border-radius: 2px;
      transform: translate(-50%, 0) rotate(-45deg);
    }
  }
}
