@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s;
  &.is-show {
    opacity: 1;
  }
  &.is-fixed {
    position: absolute;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-color-01;
    background-color: $main-color-01;
    width: 80px;
    height: 80px;
    text-decoration: none;
    border-radius: 50%;
    outline-offset: 4px;
    @include mq() {
      width: 60px;
      height: 60px;
    }
  }
  &__text {
    padding-top: 8px;
    position: relative;
    font-size: fz(18);
    color: $text-color-white;
    @include mq() {
      font-size: fz(14);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 12px;
      height: 12px;
      border: 2px solid;
      border-color: $text-color-white $text-color-white transparent transparent;
      border-radius: 2px;
      transform: translate(-50%, 0) rotate(-45deg);
    }
  }
  // &:focus {

  // }
}
