@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.mv {
  position: relative;
  margin-bottom: 100px;
  @include mq() {
    margin-bottom: 60px;
    min-height: 500px;
  }
  &__copy {
    line-height: 1.5;
    max-width: fit-content;
    font-size: fz(60);
    font-size: clamp(fz(24), 3.125vw, fz(60));
    font-weight: bold;
    color: $main-color-01;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba($color: #fff, $alpha: 0.8);
    padding: 20px;
    margin: 0 20px 20px;
    @include mq() {
      font-size: fz(24);
    }
  }
}
.category-mv {
  margin-bottom: 100px;
  border-top: 1px solid $main-color-01;
  border-bottom: 1px solid $main-color-01;
  @include mq() {
    margin-bottom: 60px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mq() {
      grid-template-columns: 1fr;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq() {
      padding: 24px 20px;
    }
  }
  &__title-text {
    font-size: fz(64);
    color: $main-color-01;
    @include mq() {
      font-size: fz(32);
    }
  }
  &__img {
  }
}
