@use "../settings/variables" as *;
@use "../utilities/width" as *;
@use "../mixins/breakpoints" as *;

.section {
  &.bg-color {
    background-color: $base-color-02;
    padding: 64px 0;
  }
  &__inner {
    max-width: $w-lg;
    margin-inline: auto;
    padding: 0 20px;
    .section--narrow & {
      max-width: $w-m;
    }
  }
  & + & {
    margin-top: 100px;
    @include mq() {
      margin-top: 64px;
    }
  }
  &:last-child {
    padding-bottom: 170px;
    @include mq() {
      padding-bottom: 100px;
    }
  }
}
