@use "../mixins/breakpoints" as *;

.splide {
  @include mq() {
    min-height: 500px;
  }
  &__slide {
    img {
      object-fit: cover;
      @include mq() {
        height: 100%;
      }
    }
  }
  &__track,
  &__slide {
    @include mq() {
      min-height: 500px;
    }
  }
  &__slide {
  }
  &__progress__bar {
    background-color: lightblue;
  }

  &__toggle {
    opacity: 0.7;
    background: black;
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    &__play,
    &__pause {
      border-radius: 50%;
    }
  }
}
