@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../mixins/breakpoints" as *;

.table {
  table-layout: fixed;
  width: 100%;
  tr {
  }
  th {
    border: 1px solid #000;
    padding: 24px;
    background-color: $base-color-02;
    @include mq() {
      padding: 16px;
    }
  }
  td {
    border: 1px solid #000;
    padding: 24px;
    @include mq() {
      padding: 16px;
    }
  }
}
